.catalog {
    position: relative;
}

.recipes-list,
.user-recipes-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.most-liked-recipes {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background: orange;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: -35px;
    right: 15px;
}