.recipe-details-buttons-container {
    position: absolute;
    top: 7%;
    left: 82%;
}

.edit-link,
.delete-btn {
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.edit-link {
    margin-right: 20px;
    padding: 8px 22px;
    background: green;
    text-decoration: none;
}

.delete-btn {
    padding: 10px 15px;
    background: red;
}