.user-recipes-title {
    margin: 15px 0;
}

.user-liked-recipes-link {
    text-decoration: none;
    font-weight: bold;
    padding: 5px 15px;
    background: orange;
    color: white;
    border-radius: 5px;
}