@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

.container {
  text-align: center;
  padding-bottom: 50px;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 25%;
    padding: 50px;
    background: orange;
    border-radius: 10px;
    color: white;
}

form legend {
    font-weight: bold;
    font-size: 36px;
}

form label {
    font-weight: bold;
    margin: 10px 0;
}

form textarea {
    resize: none;
    border: none;
    border-radius: 5px;
}

form input {
    border: none;
    height: 25px;
    border-radius: 5px;
}

form select {
    border: none;
    border-radius: 5px;
}

.recipes-list,
.user-recipes-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 20px;
    padding: 0;
    justify-content: center;
}

.sort-section,
.filter-section {
    display: flex;
    justify-content: space-evenly;
}

.sort-btn,
.filter-btn {
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background: orange;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.sort-btn {
    flex-basis: 20%;
}

.filter-btn {
    flex-basis: 30%;
}

.active-btn {
    background: green;
}

.submit-btn {
    width: 50%;
    margin: 50px auto 0 auto;
    border: none;
    background: white;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.error {
    display: none;
}

.error.visible {
    display: inline;
    font-weight: bold;
    color: red;
}

@media screen and (max-width: 800px) {
    input, select, textarea {
        font-size: 16px;
    }

    .landing-page-header {
        padding: 15px;
    }

    .landing-page-header-text {
        line-height: 35px;
    }

    .landing-page-actions {
        margin-top: 25px;
        flex-direction: column;
    }

    .landing-page-actions-view-recipes,
    .landing-page-actions-sign-up-cta,
    .landing-page-actions-sign-in-cta {
        margin: 10px 15px;
    }

    .container {
        padding-bottom: 25px;
    }

    .page-header {
        margin-bottom: 25px;
    }

    .page-header-nav {
        flex-direction: column;
    }

    .page-header-nav-links-list {
        flex-direction: column;
    }

    .page-header-nav-links-list li {
        margin: 5px 0;
    }

    .page-header-nav-links-list li a.active {
        padding-bottom: 0;
        border-bottom: none;
    }

    .recipes-list,
    .user-recipes-list {
        flex-direction: column;
    }

    .recipes-list-item {
        margin: 10px 15px;
    }

    .recipes-list-item-img img,
    .recipe-details-content-img img {
        width: 325px;
        height: 325px;
    }

    .sign-up-from,
    .sign-in-form,
    .recipe-form {
        width: auto;
        margin: 0 15px;
    }

    input#recipe-name {
        width: 100%;
    }

    select#visibility {
        width: 30%;
    }

    .recipe-details-recipe-card {
        margin: 0 15px;
    }

    .recipe-details-content {
        flex-direction: column;
        padding: 0;
        max-height: none;
    }

    .recipe-details-content-ingredients,
    .recipe-details-content-preparation {
        margin: 10px 15px;
    }

    .recipe-details-buttons-container {
        position: initial;
        margin-top: 10px;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
    }

    .recipe-details-buttons-container .edit-btn {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .comment-section {
        margin: 25px 15px;
        padding: 25px 0;
    }

    .comment-section-add-comment {
        width: 90%;
    }

    .add-comment-btn {
        width: 100%;
    }

    .comment {
        width: 90%;
    }

    .comment-owner-control {
        position: initial;
        margin-top: 10px;
        display: flex;
        align-content: center;
    }

    .comment-owner-control-edit-btn,
    .comment-owner-control-delete-btn {
        flex-basis: 45%;
    }
}

@media screen and (min-width: 550px) and (max-width: 800px) {
    .recipes-list-item-img img,
    .recipe-details-content-img img {
        width: 475px;
        height: 475px;
    }
}