@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

.container {
  text-align: center;
  padding-bottom: 50px;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 25%;
    padding: 50px;
    background: orange;
    border-radius: 10px;
    color: white;
}

form legend {
    font-weight: bold;
    font-size: 36px;
}

form label {
    font-weight: bold;
    margin: 10px 0;
}

form textarea {
    resize: none;
    border: none;
    border-radius: 5px;
}

form input {
    border: none;
    height: 25px;
    border-radius: 5px;
}

form select {
    border: none;
    border-radius: 5px;
}

.recipes-list,
.user-recipes-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 20px;
    padding: 0;
    justify-content: center;
}

.sort-section,
.filter-section {
    display: flex;
    justify-content: space-evenly;
}

.sort-btn,
.filter-btn {
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background: orange;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.sort-btn {
    flex-basis: 20%;
}

.filter-btn {
    flex-basis: 30%;
}

.active-btn {
    background: green;
}

.submit-btn {
    width: 50%;
    margin: 50px auto 0 auto;
    border: none;
    background: white;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}