.recipe-details-buttons-container {
    position: absolute;
    top: 8%;
    right: 4%;
    /* display: flex;
    justify-content: space-evenly; */
    /* width: 10%; */
}

.edit-btn,
.delete-btn {
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    padding: 0;
}

.edit-btn {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid white;
}