.recipe-details-buttons-container {
    position: absolute;
    top: 7%;
    left: 82%;
}

.edit-btn,
.delete-btn {
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.edit-btn {
    margin-right: 20px;
    padding: 10px 22px;
    background: white;
    color: black;
}

.delete-btn {
    padding: 10px 15px;
    background: red;
    color: white;
}