.recipe-details-buttons-container {
    position: absolute;
    top: 5%;
    right: 0%;
    display: flex;
    justify-content: space-evenly;
    width: 10%;
}

.edit-btn,
.delete-btn {
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    padding: 0;
}